  <div class="container">
    <div class="jumbotron" > <h1>Movie Nerd</h1></div>
</div>


<div class="container" id="top">
    <form class="navbar-form navbar-left" role="search">
        <div class="input-group text-center">
            <input type="text" class="form-control" placeholder="Movie Title" ng-model="vm.searchTitle">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" ng-click="vm.searchMovie(vm.searchTitle)">Search</button>
            </span>
        </div>
    </form>
</div>
<hr/>

    <div ui-view ></div>
<div class="container">
    <h3 ng-hide="!vm.totalResults">Total Results : {{vm.totalResults}}</h3>
    <div class="row">
        <div class="col-md-3" ng-repeat="movie in vm.movies">
            <div class="panel panel-default text-center">
                <div class="panel-heading">{{movie.Title}}</div>
                <div class="panel-body">
                    Filmed in {{movie.Year}}
                    <img ng-if="movie.Poster !== 'N/A'" class="photo" ng-src="{{movie.Poster}}">
                    <img ng-if="movie.Poster === 'N/A'" class="img-responsive" src="app/film.jpg">
                </div>
                <div class="panel-footer">
<!--                     <button type="button" ng-click="vm.goToProjectDetail(movie.imdbID)">Click here for more details</button> -->                   <a ui-sref="main.details({movieID: movie.imdbID})">View Details</a>
                </div>
            </div>   
        </div>
    </div>

    <div ng-repeat="page in vm.totalPages">
        <button ng-click="vm.searchMovie(vm.pageRefTitle, page)">{{page}}</button>
    </div>  
           

</div>


