span {
	margin-right: 7rem;
}
img {
	height: 300px;
	width: 225px;
}

#poster {
	height: 400px;
	width: 325px;
}

.panel-heading {
	height: 50px;
}

#detailsHeading {
	max-height: 120px;
}

.search {
	height: 475px;
}

.pagination>li>button, .pagination>li>span { border-radius: 50% !important; margin: 5px 5px;}